@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0%;

  margin: 0;
}

@font-face {
  font-family: rubik;
  src: url(./assets/fonts/Rubik-Regular.ttf);
}

.bell {
  animation: shake 1300ms ease infinite;

  /* animation-delay: 200ms; */
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }
  5% {
    rotate: 12deg;
  }
  20%,
  40% {
    rotate: -25deg;
  }
  30%,
  50% {
    rotate: 25deg;
  }
  60% {
    rotate: 0deg;
  }
}
